{% extends 'base.html' %} 
{% block content %}
<h1>Brightside Mission Statement</h1>
<hr />
<p class="mission-statement">
  Brightside’s mission is to help people slow down, reflect deeply, and rediscover joy through intentional gratitude.
We believe that even in life’s ordinary moments, there’s beauty worth remembering.
By providing a safe, personal space to capture thoughts and emotions, Brightside empowers users to grow in self-awareness, emotional wellness, and hope.
Our goal is to make reflection a habit, not a chore — turning everyday thoughts into a brighter outlook on life.
</p>
{% endblock %}
