{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/home.css' %}"
/>
{% endblock %} {% block content %}


  {% if not user.is_authenticated %}
<section>
  <section class="logo-container">
    <div class="Home-logo-container">
      <img
      style="height: 500px; width: 500px; ; margin-bottom: -230px;"
        src="{% static 'images/Brightside-line.png' %}"
        alt="Brightside Logo"
      />
    </div>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %} {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn submit">Login</button>
  </form>
  <h2 style="font-weight: 500; color:  #d3d0d0;">Simple. Personal. Intentional.</h2>
  <div class="not a member yet"> <h3 style="color: khaki;">Not a member yet?</h3> <a href="{% url 'signup' %}" class="btn submit">Sign Up</a>
  </div>
  <div style="margin-bottom: 20px;"></div>

  <div><a href="{% url 'about' %}" class="learn-more-link" style="font-size: large; color:darkkhaki; font-weight: bold;">Learn more about us</a></div>
</section>
{% endif %}

  {% if not user.is_authenticated %}
  <div class='message-and-call-to-action'>
    <h3 style="text-align: center; font-size: 34px; margin-top: 16px; font-weight: 500; color: #d3d0d0; position: relative;">
      Capture the good. Reflect with purpose. Live on the Brightside.
    </h3>
    <div class="Home-Images" style="display: flex; background-color: rgba(15, 61, 31, 0.418); padding: 0 30px; ">
    
      <img src="{% static 'images/PersonalReflections-icon.png' %}" alt="Personal Reflections">
      
    
    
      <img src="{% static 'images/MoodTracking-icon.png' %}" alt="Mood Tracking">
      
    
      <img src="{% static 'images/ArchiveMemories-icon.png' %}" alt="Archive Memories">

     
    </div>
   
    
  </div>
  
 

  {% else %}
  <section class="returning container">
    <div class="logo-container">
      <img
      style="height: 250px; width: 250px; ; position: absolute; top: 200px; left: 200px;"
        src="{% static 'images/solo-logo.png' %}"
        alt="Brightside Logo"
      />
    </div>
    
    
    
    <div class="welcome-back-container" style="position:absolute; top: 300px; left: 500px;">

      <h1 style="font-size: 50px; inline-size: max-content; " class="welcome-back">Welcome back, {{ user.username }}!</h1>
      
      <a href="{% url 'entries-create' %}" class="btn submit"
    style="font-size: 22px; padding: 3px 9px; background-color: floralwhite;"
    >
    Start Journaling</a>
   

  </div>

</section>
{% endif %}





{% endblock %}
