{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/home.css' %}"
/>
{% endblock %} {% block content %}

<section class="logo-container">
  <div class="Home-logo-container">
    <img
    style="height: 500px; width: 500px;"
      src="{% static 'images/Brightside-line.png' %}"
      alt="Brightside Logo"
    />
  </div>
  {% if not user.is_authenticated %}
  <div class='message-and-call-to-action'>
    <h3 style="text-align: center; font-size: 34px; margin-top: 16px; font-weight: 500; color: #d3d0d0; position: relative;">
      Capture the good. Reflect with purpose. Live on the Brightside.
    </h3>
    <div class="Home-Images" style="display: flex; background-color: rgba(15, 61, 31, 0.418); padding: 0 30px; ">
    
      <img src="{% static 'images/PersonalReflections-icon.png' %}" alt="Personal Reflections">
      
    
    
      <img src="{% static 'images/MoodTracking-icon.png' %}" alt="Mood Tracking">
      
    
      <img src="{% static 'images/ArchiveMemories-icon.png' %}" alt="Archive Memories">

     
    </div>
   
    
  </div>
  
 

  {% else %}
<section class="welcome-back-container">
  <div class="welcome-back-container">

    
    <h1 style="font-size: 31px; inline-size: max-content;" class="welcome-back">Welcome back, {{ user.username }}!</h1>

    <h3 style="position: relative; top: -213px; font-size:19px; 
    inline-size: max-content; font-weight: 500;  " 
    >
    Capture the good. Reflect with purpose. Live on the Brightside.</h3>
    <a href="{% url 'entries-create' %}" class="btn submit"
    style="font-size: 22px; padding: 3px 9px; background-color: floralwhite; position: relative; top: -207px; right: -180px;"
    >
    Start Journaling</a>
   
   
  
    
  </div>

</section>
{% endif %}



{% if not user.is_authenticated %}
<section>
  <form action="{% url 'login' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %} {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn submit">Login</button>
  </form>
  <h2 style="font-weight: 500; color:  #d3d0d0;">Simple. Personal. Intentional.</h2>
  <div class="not a member yet"> <h3 style="color: khaki;">Not a member yet?</h3> <a href="{% url 'signup' %}" class="btn submit">Sign Up</a>
    <a href="{% url 'about' %}" class="learn-more-link" style="font-size: large; color:darkkhaki; font-weight: bold;">Learn more about us</a>
  </div>
</section>
{% endif %}

{% endblock %}
